@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Clique ali em "TESTE CEP" animal</h1>
     <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Endereco">Teste CEP</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://imagepng.org/wp-content/uploads/2018/04/vasco-escudo-1.png" style="width: 500px; height: 500px;" />
</div>
